/** @format */

.modal-content {
  border: 1px solid #1d2226;
  border-radius: 30px;
}
.modal-image {
  background-color: #1d2226 !important;
  border-radius: 20px !important;
  color: white;
  overflow: hidden;
}
.modal-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  justify-content: center !important;
  margin-left: 10rem;
}
.close-btn {
  font-size: 25px !important;
  background-color: inherit;
  border: none;
  color: white;
}
.add-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photo-icons {
  margin-bottom: 0.5rem;
  background-color: inherit;
  border: none;
  border-radius: 25px;
}
.photo-icons:hover {
  background-color: aqua;
  border-radius: 25px;
}
.modal-header {
  border: none !important;
}
.modal-footer {
  border: none !important;
  justify-content: space-around;
}
