.footerBody {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .footer {
    text-align: left;
    color: #6d6d6c;
    margin-left: 0px;
    cursor: pointer;
  }
  .footer > Col {
    flex-direction: column;
  }
  .liItems > li {
    list-style-type: none;
    font-weight: 525;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .liItems > li:hover {
    text-decoration: underline;
    color: blue;
  }
  .footerLogo > img {
    object-fit: contain;
    height: 30px;
    margin-left: 70px;
  }
  