/** @format */

#backgroundImage {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

#headerMiniContainer {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(226, 225, 225);
  padding-left: 20px !important;
  padding-right: 20px !important;
}

button:focus-visible {
  outline-color: white !important;
}

*:focus,
*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

#userImage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  border: 2px solid white;
  top: -30px;
  padding: 0;
}

.borderBottom {
  border-bottom: 1px solid rgb(202, 202, 202);
}

.fontSize {
  font-size: 13px;
}

#userName {
  font-size: 20px;
}
#userName:hover {
  text-decoration: underline;
  cursor: pointer;
}
.items {
  text-align: left;
  margin: 10px 0;
}
.headerMiniTag:hover {
  background-color: rgba(241, 229, 229, 0.699);
  cursor: pointer;
}

.txtBlue:hover {
  color: rgb(21, 151, 211);
  cursor: pointer;
}
