/** @format */

.subtitle {
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  margin-bottom: 20px;
}

#img1 {
  position: relative;
  width: 120px;
  height: 70px;
}
#img2 {
  position: relative;
  width: 120px;
  height: 70px;
  object-fit: cover;
}
.play:hover .sfondo {
  border: 2px solid;
  border-color: white;
}

.play1 {
  z-index: 10;
  color: white;
  position: absolute;
  left: 3.2rem;
  bottom: 1.3rem;
}

.sfondo {
  position: absolute;
  left: 35%;
  top: 30%;
  background-color: black;
  opacity: 0.6;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
}
.sfondo:hover {
  border: 2px solid;
  border-color: white;
}

.play2:hover .sfondo {
  border: 2px solid;
}

.play2 {
  z-index: 10;
  color: white;
  position: absolute;
  left: 3.2rem;
  bottom: 1.3rem;
}

.sfondo2 {
  position: absolute;
  left: -8px;
  bottom: -2px;
}
#learningSection .circleRelative:hover {
  outline: 2px solid white;
}

#learningSection .circleRelative {
  position: absolute;
  left: 35%;
  top: 30%;
  opacity: 0.6;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  z-index: 1;
}

#learningSection .circleRelative i {
  color: white;
  position: absolute;
  top: 15%;
  left: 27%;
}

#learningButton {
  background-color: white;
  display: inline-block;
  width: 100%;
  height: 100%;

  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;

  border-top: 1px solid #e9e5df;
  text-align: center;
}

#learningButton:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.icon-section {
  text-align: left;
  padding-top: 20px;
}
